html {
  background-color: #000000;
}
body {
  width: 800px;
  height: 100vh;
  margin: 0 auto;
  background-color: #98b5d5;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  font-size: 20px;
  color: #292929;
}
a:hover {
  text-decoration: none;
  font-size: 20px;
  color: #292929;
}
h1 {
  text-align: center;
  color: #292929;
}
h2 {
  text-align: center;
  color: #191919;
}
.pole {
  width: 300px;
  height: 100px;
  margin: 30px auto;
  border: #000000 2px solid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}
.pole2 {
  justify-content: center;
}
.gay {
  height: 60px;
  width: 100px;
  margin: 20px 25px;
  text-align: center;
  border-radius: 20px;
  border: 2px solid black;
  background-color: aquamarine;
}
.nogay {
  position: absolute;
  z-index: 3;
}
.nogay:hover {
  right: 0px;
}
.rez {
  width: 300px;
  height: 200px;
  margin: 30px auto;
  border: #000000 2px solid;
}
.non {
  text-align: center;
  font-size: 1.1em;
  line-height: 1.5em;
}
.hiden {
  display: none;
}
.tryAgain {
  width: 100px;
  height: 50px;
  margin: auto;
  border-radius: 20px;
  border: 0;
  background-color: rgb(237, 192, 108);
}